.remove-btn{
    background-color: var(--red-btn);
}

.time-picker{
    display: flex;
    height: 20px;
    max-width: 100px;
    width: 100%;
}

.picker-btn{
    height: 100%;
    width: 20px;
    background-color: var(--dark-btn);
    border: none;
    margin: 0;
    padding: 0;
    color: var(--bright-txt);
    cursor: pointer;
}

.picker-content{
    text-align: center;
    flex-grow: 1;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
}